*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #1F1F1F;
    width: 100%;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 20px 0 20px;

    p{
        color: #999;
        font-size: 18px;
    }

    .social-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        a{
            i{
                color: #999;
                font-size: 14px;
            }
        }
    }
}